* {
  background-color: #557A95;
}

/* HEADER - TODO: Change aesthetic */
header {
  background-color: #B1A296;
  background-size: cover;
  display: flex;
}

header h1 {
  background-color: #B1A296;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

header nav {
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: 20px;
}

header nav a {
  background-color: #B1A296;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* Section: about me: TO DO, style img div with text centered and fix p text alignment */
section {
  display: flex;
  flex-wrap: wrap;
}
section img {
  width: 100px;
  height: 100px;
}

section div {
  flex: 1;
  align-items: center;
  margin-right: 20px;
}

/* Portfolio showcase */

main ul {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
}

main ul li {
  color: #557A95;
}

main ul li:nth-child(1) {
  grid-column: 1/3;
}

li img {
  margin: 10px;
  padding: 15px;
  width: 25%;
}

#top_image {
  width: 60%;
}

/* overlay */
.image_container {
  position: relative;
  background-color: none;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

footer nav {
  align-items: center;
  margin: auto;
  padding: 10px;
  margin-left: auto;
  text-decoration: none;
}